flow/pap.json
[{"id":"2ba203899c4815fd","type":"tab","label":"[PAP] Get flows","disabled":false,"info":"","env":[]},{"id":"5f55ea55e7178d9e","type":"tab","label":"[PAP]  Create Application","disabled":false,"info":"","env":[]},{"id":"c2107e3eb340c07a","type":"tab","label":"[PAP] Get menu config","disabled":false,"info":"","env":[]},{"id":"c0eed71cf840fd8c","type":"tab","label":"[PAP]  Get Application","disabled":false,"info":"","env":[]},{"id":"096f7148e6394a49","type":"mongodb4-client","name":"pap-mongo-connection","protocol":"mongodb","hostname":"103.154.100.21","port":"8003","dbName":"pap","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsInsecure":false,"uri":"","advanced":"","uriTabActive":"tab-uri-simple"},{"id":"0a9f23fd1fc93a63","type":"mongodb4-client","name":"pap","protocol":"mongodb","hostname":"103.154.100.21","port":"8003","dbName":"pap","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsInsecure":false,"uri":"","advanced":"","uriTabActive":"tab-uri-simple"},{"id":"8ba3093d18a041a2","type":"http in","z":"2ba203899c4815fd","name":"Get applications","url":"/applications1","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["b0933122e7519c09"]]},{"id":"666c98c93457cffc","type":"inject","z":"2ba203899c4815fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["b0933122e7519c09"]]},{"id":"b0933122e7519c09","type":"http request","z":"2ba203899c4815fd","name":"Get Flows","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:4321/admin/flows","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":320,"y":120,"wires":[["ddf1a63961d120f3"]]},{"id":"9ea83ef0e0d3b8c8","type":"http response","z":"2ba203899c4815fd","name":"response","statusCode":"","headers":{},"x":640,"y":120,"wires":[]},{"id":"ddf1a63961d120f3","type":"function","z":"2ba203899c4815fd","name":"get flow","func":"let flows = [];\n\n// if(msg.payload && msg.payload.length > 0) {\n//     msg.payload.filter(x => x.type === \"tab\").map(flow => {\n//         flow.value = flow.id;\n//         flow.flowValue = \"\";\n//         return flow;\n//     });\n// }\n\nif(msg.payload && msg.payload.length > 0) {\n    flows = msg.payload.filter(x => x.type === \"tab\");\n}\n\n\n\nmsg.payload = flows;\nmsg.flows = [];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":120,"wires":[["9ea83ef0e0d3b8c8"]]},{"id":"0352c54c471381b6","type":"function","z":"5f55ea55e7178d9e","name":"Save applications to mongodb","func":"msg.applications = msg.payload;\n\nmsg.collection = \"applications\";\nconst data = msg.applications;\ndelete data.id;\ndata.posted_time = new Date().toJSON();\nmsg.payload = [];\nmsg.payload.push(data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["223c209548d34957","6c4a051894c44ae3"]]},{"id":"2915ecd3437eb84d","type":"debug","z":"5f55ea55e7178d9e","name":"check data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":795,"y":80,"wires":[]},{"id":"9e99b2e261dcf207","type":"http response","z":"5f55ea55e7178d9e","name":"response","statusCode":"200","headers":{},"x":785,"y":140,"wires":[]},{"id":"436482ee84c8fd4b","type":"comment","z":"5f55ea55e7178d9e","name":"Save to mongodb","info":"","x":130,"y":80,"wires":[]},{"id":"6c4a051894c44ae3","type":"mongodb4","z":"5f55ea55e7178d9e","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"","operation":"insertOne","output":"toArray","handleDocId":false,"name":"Mongodb","x":615,"y":115,"wires":[["2915ecd3437eb84d","9e99b2e261dcf207"]]},{"id":"12d438f4de1b8ec7","type":"http in","z":"5f55ea55e7178d9e","name":"Create Application","url":"/application","method":"post","upload":true,"swaggerDoc":"","x":130,"y":120,"wires":[["0352c54c471381b6"]]},{"id":"a3e277d2510ee6cf","type":"inject","z":"5f55ea55e7178d9e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["0352c54c471381b6"]]},{"id":"223c209548d34957","type":"debug","z":"5f55ea55e7178d9e","name":"a","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":605,"y":175,"wires":[]},{"id":"f3b118c8d0516afd","type":"http in","z":"c2107e3eb340c07a","name":"Get config","url":"/config","method":"get","upload":false,"swaggerDoc":"","x":160,"y":80,"wires":[["c9513ed9b753706c"]]},{"id":"c9513ed9b753706c","type":"function","z":"c2107e3eb340c07a","name":"","func":"msg.app_dir = os.homedir();\nmsg.file_path = path.join(msg.app_dir, \".PAP\",\"menu.json\");\n\nfs.readFile(msg.file_path, 'utf8', (err, data) => {\n  if (err) {\n    console.error(err);\n    return;\n  }\n  msg.payload = data;\n  node.send(msg);\n  node.done();\n});\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"},{"var":"os","module":"os"}],"x":340,"y":80,"wires":[["1fcb24894af5a923","945cc8ec800956b6"]]},{"id":"009fbf2a0563e9b1","type":"http response","z":"c2107e3eb340c07a","name":"","statusCode":"","headers":{},"x":690,"y":60,"wires":[]},{"id":"945cc8ec800956b6","type":"json","z":"c2107e3eb340c07a","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":60,"wires":[["009fbf2a0563e9b1"]]},{"id":"1fcb24894af5a923","type":"debug","z":"c2107e3eb340c07a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"2117f7a3c8546928","type":"function","z":"c0eed71cf840fd8c","name":"Save applications to mongodb","func":"msg.collection = \"applications\";\nmsg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["1d09c9170dfc28c4"]]},{"id":"f5cb39a5e5b41a5e","type":"debug","z":"c0eed71cf840fd8c","name":"check data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":795,"y":140,"wires":[]},{"id":"ce7fee1679d13575","type":"http response","z":"c0eed71cf840fd8c","name":"response","statusCode":"200","headers":{},"x":785,"y":200,"wires":[]},{"id":"3785485ee785ba84","type":"comment","z":"c0eed71cf840fd8c","name":"Get application from mongodb","info":"","x":170,"y":140,"wires":[]},{"id":"1d09c9170dfc28c4","type":"mongodb4","z":"c0eed71cf840fd8c","clientNode":"0a9f23fd1fc93a63","mode":"collection","collection":"","operation":"find","output":"toArray","handleDocId":false,"name":"Mongodb","x":615,"y":175,"wires":[["f5cb39a5e5b41a5e","ce7fee1679d13575"]]},{"id":"659e159358b46d2b","type":"http in","z":"c0eed71cf840fd8c","name":"Get Application","url":"/applications","method":"get","upload":true,"swaggerDoc":"","x":140,"y":180,"wires":[["2117f7a3c8546928"]]},{"id":"5e084270cb79a670","type":"inject","z":"c0eed71cf840fd8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["2117f7a3c8546928"]]}]